In [1]:
!pip install textblob
!pip install textblob --user

Requirement already satisfied: textblob in c:\users\pgpau\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\pgpau\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\pgpau\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.8)
Requirement already satisfied: joblib in c:\users\pgpau\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pgpau\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\pgpau\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.67.1)
Requirement already satisfied: colorama in c:\users\pgpau\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Requirement already satisfied: textblob in c:\users\pgpau\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\pgpau\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\pgpau\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.8)
Requirement already satisfied: joblib in c:\users\pgpau\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pgpau\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\pgpau\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.67.1)
Requirement already satisfied: colorama in c:\users\pgpau\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [2]:
#IMporting the necessary libraries

import pandas as pd
from textblob import TextBlob

In [3]:
#Loading the dataset
df = pd.read_csv("Airline_review.csv")

# Keeping only the Review column
df_clean = df[['Review']].copy()

# Droping missing values
df_clean = df_clean.dropna(subset=['Review'])

df_clean = df_clean.reset_index(drop=True)

df_clean.head()

                                              Review
0    Moroni to Moheli. Turned out to be a pretty ...
1   Moroni to Anjouan. It is a very small airline...
2    Anjouan to Dzaoudzi. A very small airline an...
3    Please do a favor yourself and do not fly wi...
4   Do not book a flight with this airline! My fr...

In [4]:
def get_polarity(text):
    return TextBlob(str(text)).sentiment.polarity

df_clean['polarity'] = df_clean['Review'].apply(get_polarity)
df_clean.head()

                                              Review  polarity
0    Moroni to Moheli. Turned out to be a pretty ...  0.302222
1   Moroni to Anjouan. It is a very small airline... -0.077083
2    Anjouan to Dzaoudzi. A very small airline an...  0.070833
3    Please do a favor yourself and do not fly wi... -0.206250
4   Do not book a flight with this airline! My fr...  0.175000

In [5]:
def classify(score):
    if score > 0:
        return "Positive"
    elif score < 0:
        return "Negative"
    else:
        return "Neutral"

df_clean['sentiment'] = df_clean['polarity'].apply(classify)
df_clean.head()

                                              Review  polarity sentiment
0    Moroni to Moheli. Turned out to be a pretty ...  0.302222  Positive
1   Moroni to Anjouan. It is a very small airline... -0.077083  Negative
2    Anjouan to Dzaoudzi. A very small airline an...  0.070833  Positive
3    Please do a favor yourself and do not fly wi... -0.206250  Negative
4   Do not book a flight with this airline! My fr...  0.175000  Positive

In [6]:
df_clean.to_csv("sentiment_output.csv", index=False)